.customHover tr:hover td {
	background-color: #ddd;
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.scale-menu-inside{
	margin:5px;
}
.scale-menu-helper{
	position: absolute; 
	width:100%;
}
.scale-menu-collapsed{
	right:0;
	height: 45px; 
	width:52px; 
	background-color:#fff; 
	position:absolute; 
	z-index:14;
	-webkit-box-shadow: 0px 5px 74px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 74px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 74px 0px rgba(0,0,0,0.75);
	background-color: #ddd;
}

.scale-menu{
	right:0;
	height: 150px; 
	width:52px; 
	background-color:#fff; 
	position:absolute; 
	z-index:14;
	-webkit-box-shadow: 0px 5px 74px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 74px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 74px 0px rgba(0,0,0,0.75);
	background-color: #ddd;
}

div.pv_element{
	position:absolute;
	z-index:10;
}

div.line{
  transform-origin: 0 100%;
  height: 1px; /* Line width of 3 */
  background: green; /* Black fill */
  z-index:5;
}

.tablefont tbody td {
	font-size: 18px;
}

.pointer {
	cursor:pointer;
}

.zero-border{
	border-radius: 0px 0 0 0px;
}

@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    
    display: inline-block;
    
    position: absolute;
    background: transparent;
    border: 1px solid #444;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

/*
CSS for load img
	START
*/

.spinner {
  margin: 0px;
  width: 50px;
  height: 12px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #337ab7;
  height: 100%;
  width: 3px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*
CSS for load img
	END
*/

/*
Preview images size //START
*/
.ASA_s2{width:60px;height:67}

.ASA1_s2{width:60px;height:69}

.AristaSW_s2{width:60px;height:31}

.CSRv1000_s2{width:60px;height:58}

.CiscoACS_s2{width:60px;height:42}

.CiscoWAAS_s2{width:60px;height:43}

.Cloud_s2{width:60px;height:36}

.CustomShape_s2{width:60px;height:42}

.Desktop_s2{width:60px;height:56}

.Firewall_s2{width:60px;height:43}

.FrameRelay_s2{width:60px;height:62}

.HUB_s2{width:60px;height:30}

.IPS_s2{width:60px;height:31}

.IPphone_s2{width:60px;height:33}

.ISE_s2{width:60px;height:42}

.JuniperMX_s2{width:60px;height:57}

.JuniperSRX_s2{width:60px;height:58}

.JunipervQFXpfe_s2{width:60px;height:60}

.JunipervQFXre_s2{width:60px;height:60}

.Laptop_s2{width:60px;height:38}

.LoadBalancer_s2{width:60px;height:39}

.MPLS_s2{width:60px;height:60}

.NetworkAnalyzer_s2{width:60px;height:54}

.Nexus7K_s2{width:60px;height:81}

.NexusK5_s2{width:60px;height:30}

.PaloAlto_s2{width:60px;height:67}

.Router_s2{width:60px;height:40}

.Router_cursor_s2{width:60px;height:34}

.Server_s2{width:60px;height:85}

.SwitchL3_s2{width:60px;height:58}

.Switch_s2{width:60px;height:30}

.Switch_cursor_s2{width:60px;height:26}

.WANOptimizer_s2{width:60px;height:43}

.WSA_s2{width:60px;height:42}

.XR_s2{width:60px;height:60}

.router_icon_s2{width:60px;height:40}

.switch_icon_s2{width:60px;height:30}

.vWLC_s2{width:60px;height:34}

.ASA_s3{width:40px;height:45}

.ASA1_s3{width:40px;height:46}

.AristaSW_s3{width:40px;height:21}

.CSRv1000_s3{width:40px;height:39}

.CiscoACS_s3{width:40px;height:28}

.CiscoWAAS_s3{width:40px;height:28}

.Cloud_s3{width:40px;height:24}

.CustomShape_s3{width:40px;height:28}

.Desktop_s3{width:40px;height:37}

.Firewall_s3{width:40px;height:29}

.FrameRelay_s3{width:40px;height:41}

.HUB_s3{width:40px;height:20}

.IPS_s3{width:40px;height:21}

.IPphone_s3{width:40px;height:22}

.ISE_s3{width:40px;height:28}

.JuniperMX_s3{width:40px;height:38}

.JuniperSRX_s3{width:40px;height:39}

.JunipervQFXpfe_s3{width:40px;height:40}

.JunipervQFXre_s3{width:40px;height:40}

.Laptop_s3{width:40px;height:25}

.LoadBalancer_s3{width:40px;height:26}

.MPLS_s3{width:40px;height:40}

.NetworkAnalyzer_s3{width:40px;height:36}

.Nexus7K_s3{width:40px;height:54}

.NexusK5_s3{width:40px;height:20}

.PaloAlto_s3{width:40px;height:45}

.Router_s3{width:40px;height:26}

.Router_cursor_s3{width:40px;height:22}

.Server_s3{width:40px;height:57}

.SwitchL3_s3{width:40px;height:39}

.Switch_s3{width:40px;height:20}

.Switch_cursor_s3{width:40px;height:17}

.WANOptimizer_s3{width:40px;height:28}

.WSA_s3{width:40px;height:28}

.XR_s3{width:40px;height:40}

.router_icon_s3{width:40px;height:26}

.switch_icon_s3{width:40px;height:20}

.vWLC_s3{width:40px;height:22}

.ASA_s4{width:30px;height:33}

.ASA1_s4{width:30px;height:34}

.AristaSW_s4{width:30px;height:15}

.CSRv1000_s4{width:30px;height:29}

.CiscoACS_s4{width:30px;height:21}

.CiscoWAAS_s4{width:30px;height:21}

.Cloud_s4{width:30px;height:18}

.CustomShape_s4{width:30px;height:21}

.Desktop_s4{width:30px;height:28}

.Firewall_s4{width:30px;height:21}

.FrameRelay_s4{width:30px;height:31}

.HUB_s4{width:30px;height:15}

.IPS_s4{width:30px;height:15}

.IPphone_s4{width:30px;height:16}

.ISE_s4{width:30px;height:21}

.JuniperMX_s4{width:30px;height:28}

.JuniperSRX_s4{width:30px;height:29}

.JunipervQFXpfe_s4{width:30px;height:30}

.JunipervQFXre_s4{width:30px;height:30}

.Laptop_s4{width:30px;height:19}

.LoadBalancer_s4{width:30px;height:19}

.MPLS_s4{width:30px;height:30}

.NetworkAnalyzer_s4{width:30px;height:27}

.Nexus7K_s4{width:30px;height:40}

.NexusK5_s4{width:30px;height:15}

.PaloAlto_s4{width:30px;height:33}

.Router_s4{width:30px;height:20}

.Router_cursor_s4{width:30px;height:17}

.Server_s4{width:30px;height:42}

.SwitchL3_s4{width:30px;height:29}

.Switch_s4{width:30px;height:15}

.Switch_cursor_s4{width:30px;height:13}

.WANOptimizer_s4{width:30px;height:21}

.WSA_s4{width:30px;height:21}

.XR_s4{width:30px;height:30}

.router_icon_s4{width:30px;height:20}

.switch_icon_s4{width:30px;height:15}

.vWLC_s4{width:30px;height:17}

.ASA_s5{width:20px;height:22}

.ASA1_s5{width:20px;height:23}

.AristaSW_s5{width:20px;height:10}

.CSRv1000_s5{width:20px;height:19}

.CiscoACS_s5{width:20px;height:14}

.CiscoWAAS_s5{width:20px;height:14}

.Cloud_s5{width:20px;height:12}

.CustomShape_s5{width:20px;height:14}

.Desktop_s5{width:20px;height:18}

.Firewall_s5{width:20px;height:14}

.FrameRelay_s5{width:20px;height:20}

.HUB_s5{width:20px;height:10}

.IPS_s5{width:20px;height:10}

.IPphone_s5{width:20px;height:11}

.ISE_s5{width:20px;height:14}

.JuniperMX_s5{width:20px;height:19}

.JuniperSRX_s5{width:20px;height:19}

.JunipervQFXpfe_s5{width:20px;height:20}

.JunipervQFXre_s5{width:20px;height:20}

.Laptop_s5{width:20px;height:12}

.LoadBalancer_s5{width:20px;height:13}

.MPLS_s5{width:20px;height:20}

.NetworkAnalyzer_s5{width:20px;height:18}

.Nexus7K_s5{width:20px;height:27}

.NexusK5_s5{width:20px;height:10}

.PaloAlto_s5{width:20px;height:22}

.Router_s5{width:20px;height:13}

.Router_cursor_s5{width:20px;height:11}

.Server_s5{width:20px;height:28}

.SwitchL3_s5{width:20px;height:19}

.Switch_s5{width:20px;height:10}

.Switch_cursor_s5{width:20px;height:8}

.WANOptimizer_s5{width:20px;height:14}

.WSA_s5{width:20px;height:14}

.XR_s5{width:20px;height:20}

.router_icon_s5{width:20px;height:13}

.switch_icon_s5{width:20px;height:10}

.vWLC_s5{width:20px;height:11}

/*
Preview images size //END
*/
