<div class="modal-content">
	<div class="modal-header">
			<button type="button" class="close" ng-click="closeModal()">&times;</button>
			<i class="glyphicon glyphicon-certificate pull-right pointer action-changeopacity" ng-click="opacity()"></i>
			<h3 class="modal-title">CONFIGURED OBJECTS</h3>
	</div>
	<div class="modal-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						 <tr>
								<th>ID</th>
								<th>Name</th>
								<th>Type</th>
								<th style="width:69%">Text</th>
								<th style="width:9%">Actions</th>
						 </tr>
					</thead>
					<tbody>
						 <tr class="textObject4">
								<td>4</td>
								<td>Text</td>
								<td>text</td>
								<td>undefined</td>
								<td><a class="action-textobjectdelete" data-path="4" data-name="Text" href="javascript:void(0)" title="Delete"><i class="glyphicon glyphicon-trash" style="margin-left:20px;" ng-click=""></i></a></td>
						 </tr>
					</tbody>
			 </table>
		</div>
	</div>
	<div class="modal-footer"></div>
	</div>
				
		</div>