    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()" >&times;</button>
        <i class="glyphicon glyphicon-certificate pull-right pointer action-changeopacity" ng-click="opacity()"></i>
        <h4 class="modal-title">Edit lab</h4>
    </div>
    <div class="modal-body">
        <form id="form-lab-edit" class="form-horizontal form-lab-edit" name="formLabEdit">
	        <div class="row">
		        <div class="col-md-4">
		            <div class="form-group row required">
		                <label class="col-md-2 control-label control-label_custom_pos">Path</label>
		                <div class="col-md-10">
		                    <input class="form-control" name="path" ng-model="fullPathToFile" disabled="" type="text">
		                </div>
		            </div>
		            <div class="form-group row required">
		                <label class="col-md-2 control-label control-label_custom_pos">Name</label>
		                <div class="col-md-10">
		                    <input class="form-control autofocus" name="name" ng-model="labName" required type="text" autofocus="autofocus" ng-pattern="restrictNumber" ng-class="{'input--error': formLabEdit.name.$valid == false, 'input': formLabEdit.name.$valid == true}">
		                    <span class="chars" ng-class="{'chars--active': formLabEdit.name.$valid == false, 'chars': formLabEdit.name.$valid == true}">Use only [A-Za-z0-9_- ]chars</span>
		                </div>
		            </div>
		            <div class="form-group row required">
		                <label class="col-md-2 control-label control-label_custom_pos">Version</label>
		                <div class="col-md-10">
		                    <input id="version" class="form-control" name="version" ng-model="version" ng-pattern="restrictTest" ng-class="{'input--error': formLabEdit.version.$valid == false, 'input': formLabEdit.version.$valid == true}">
		                    <span class="chars" ng-class="{'chars--active': formLabEdit.version.$valid == false, 'chars': formLabEdit.version.$valid == true}">Must be interger ([0-9]chars)</span>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-md-2 control-label control-label_custom_pos">Author</label>
		                <div class="col-md-10">
		                    <input class="form-control" name="author" ng-model="author" type="text" >
		                    <span ng-show="digits.nums.$error.pattern">Numbers only, please.</span>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-md-5 control-label control-label_custom">Config Script Timeout</label>
		                <div class="col-md-4">
		                    <input class="form-control" name="scripttimeout" value="300" ng-model="scripttimeout" type="text">
		                </div>
		                <label class="col-md-3 control-label control-label_custom">Seconds</label>
		            </div>
		            <div class="row">
		            	<div class="col-md-12 parent-required">
							<p class="p-required"><sup class="sup-required">*</sup>- Required Fields</p>
		            	</div>
		            </div>
		        </div>
		        <div class="col-md-8">
		        	<div class="form-group row">
		                <label class="col-md-2 control-label">Description</label>
		                <div class="col-md-10">
							<textarea class="form-control" name="description" ng-model="description" rows="6"></textarea>
		                </div>
		            </div>
		            <div class="form-group row">
		                <label class="col-md-2 control-label">Tasks</label>
		                <div class="col-md-10">
		                    <textarea class="form-control" name="body" ng-model="body" rows="6"></textarea>
		                </div>
		            </div>
		           
		            <div class="form-group">
		                <div class="col-md-2 col-md-offset-10">
		                    <div class="pull-right"  style="width: 123px;">
		                        <button type="submit" class="btn btn-success btn-flat" ng-changed="anychanges=true" ng-click="editLab()">Save</button>
		                        <button type="button" class="btn btn-grey btn-flat" ng-click="closeModal()">Cancel</button>
		                    </div>
		                </div>
		            </div>
		        </div>
	    	</div>
        </form>
    </div>
    <div class="modal-footer"></div>
