<div class="modal-header">
	<h3 class="modal-title">Edit network {{oldName}}</h3>
</div>
<div class="modal-body">
	<form role="form" name="formEditNet" ng-submit="submitForm(formEditNet.name.$valid)">
		<div class="form-group {{errorClass}}">
          <label>Network name</label>
          <input type="text" class="form-control" name="name" data-ng-pattern="restrictSpace" data-ng-model="netInfo.name" placeholder="Enter network name" autofocus >
          <span class="chars" ng-class="{'chars--active': formEditNet.name.$valid == false, 'chars': formEditNet.name.$valid == true}">Use only [A-Za-z0-9_- ]chars {{formIsValid = formEditNet.name.$valid;""}}</span>
		  <!-- <span class="help-block" data-ng-show="errorClass != ''" data-ng-bind="errorMessage"></span> -->
        </div>
		
		<div class="form-group">
            <label>Type</label>
            <select class="form-control" ng-init="selectNetType = 'bridge'" data-ng-model="selectNetType" data-ng-options="x for x in netList"></select>
        </div>
		
		<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Axis X</label>
				<input class="form-control" data-ng-model="netInfo.left" placeholder="Enter the x coordinate"/>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="form-group">
				<label>Axis Y</label>
				<input class="form-control" data-ng-model="netInfo.top" placeholder="Enter the y coordinate"/>
			</div>
		</div>
		</div>
		
		<p>
			<small class="text-muted">
				Connected nodes: {{netInfo.count}}
			</small>
		</p>
    </form>
</div>
<div class="modal-footer">
	<button class="btn btn-success btn-flat" type="button" data-ng-click="editNet()">Edit</button>
	<button class="btn btn-dander btn-flat" type="button" data-ng-click="closeModal()">Close</button>
</div>