<div class="modal-header">
	<button type="button" class="close" ng-click="closeModal()">&times;</button>
	<i class="glyphicon glyphicon-certificate pull-right pointer action-changeopacity" ng-click="opacity()"></i>
	<h3 class="modal-title">LAB DETAILS</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="lab-details">
				<h1>{{ labData.name }}</h1>
				<p>
					<code>ID:{{ labData.id }}</code>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	
</div>