<div class="modal-header">
	<button type="button" class="close" ng-click="closeModal()">&times;</button>
	<h3 class="modal-title">All nodes in {{path}}</h3>
</div>
<div class="modal-body">
	<div class="row">
	<div class="col-md-12">
		<div class="pull-right">
			 <div class="btn-group">
				<button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				More columns <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
				<li class="{{(hideCPU) ? 'active' : ''}}"><a data-ng-click="hideCPU = !hideCPU" class="pointer">CPU</a></li>
				<li class="{{(hideIdlepc) ? 'active' : ''}}"><a data-ng-click="hideIdlepc = !hideIdlepc" class="pointer">IdlePC</a></li>
				<li class="{{(hideNVRAM) ? 'active' : ''}}"><a data-ng-click="hideNVRAM = !hideNVRAM" class="pointer">NVRAM</a></li>
				<li class="{{(hideRAM) ? 'active' : ''}}"><a data-ng-click="hideRAM = !hideRAM" class="pointer">RAM</a></li>
				<li class="{{(hideSer) ? 'active' : ''}}"><a data-ng-click="hideSer = !hideSer" class="pointer">Serial ports</a></li>
				<li class="{{(hideConsole) ? 'active' : ''}}"><a data-ng-click="hideConsole = !hideConsole" class="pointer">Console</a></li>
				<li class="{{(hideStartup) ? 'active' : ''}}"><a data-ng-click="hideStartup = !hideStartup" class="pointer">Startup-config</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<div class="table-responsive">
	<table class="table">
	<thead>
		<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Template</th>
		<th>Boot image</th>
		<th ng-show="hideCPU">CPU</th>
		<th ng-show="hideIdlepc">idlepc</th>
		<th ng-show="hideNVRAM">NVRAM</th>
		<th ng-show="hideRAM">RAM</th>
		<th>Eth</th>
		<th ng-show="hideSer">Ser</th>
		<th ng-show="hideConsole">Console</th>
		<th>Icon</th>
		<th ng-show="hideStartup">Startup-config</th>
		<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(id,item) in nodeList" class="{{(item.status == 2) ? 'bg-info' : ''}} {{(item.editmode) ? 'bg-warning' : ''}}">
		<td>{{id}}</td>
		<td>
			<text ng-show="!item.editmode">{{item.name}}</text>
			<input ng-init="item.newname = item.name" ng-model="item.newname" ng-show="item.editmode" style="width:80px; padding-left:2px;"/>
		</td>
		<td>{{item.template}}</td>
		<td class="imageList">
			<text ng-show="!item.editmode">{{item.image}}</text>
			<ui-select ng-init="imageTempObj[id].selected=item.image;" ng-model="imageTempObj[id].selected" ng-show="item.editmode">
				<ui-select-match>
					<span ng-bind="imageTempObj[id].selected"></span>
				</ui-select-match>
				<ui-select-choices repeat="image in (templateList[item.template].image.array | filter: $select.search)">
					<span ng-bind="image" title="{{image}}"></span>
				</ui-select-choices>
			</ui-select>
		</td>
		<td ng-show="hideCPU">
			<text ng-show="!item.editmode">{{(item.cpu == undefined) ? 'N/A' : item.cpu}}</text>
			<input ng-init="item.newcpu = item.cpu" ng-model="item.newcpu" ng-show="item.editmode && (item.cpu != undefined)" style="width:40px; padding-left:2px;"/>
		</td>
		<td ng-show="hideIdlepc">
			<text ng-show="!item.editmode">{{(item.idlepc == undefined) ? 'N/A' : item.idlepc}}</text>
			<input ng-init="item.newidlepc = item.idlepc" ng-model="item.newidlepc" ng-show="item.editmode && (item.idlepc != undefined)" style="width:80px; padding-left:2px;"/>
		</td>
		<td ng-show="hideNVRAM">
			<text ng-show="!item.editmode">{{(item.nvram == undefined) ? 'N/A' : item.nvram}}</text>
			<input ng-init="item.newnvram = item.nvram" ng-model="item.newnvram" ng-show="item.editmode" style="width:40px; padding-left:2px;"/>
		</td>
		<td ng-show="hideRAM">
			<text ng-show="!item.editmode">{{(item.ram == undefined) ? 'N/A' : item.ram}}</text>
			<input ng-init="item.newram = item.ram" ng-model="item.newram" ng-show="item.editmode && (item.ram != undefined)" style="width:40px; padding-left:2px;"/>
		</td>
		<td>
			<text ng-show="!item.editmode">{{item.ethernet}}</text>
			<input ng-init="item.newethernet = item.ethernet" ng-model="item.newethernet" ng-show="item.editmode && (item.ethernet != undefined)" style="width:40px; padding-left:2px;"/>
		</td>
		<td ng-show="hideSer">
			<text ng-show="!item.editmode">{{item.serial}}</text>
			<input ng-init="item.newserial = item.serial" ng-model="item.newserial" ng-show="item.editmode && (item.serial != undefined)" style="width:40px; padding-left:2px;"/>
		</td>
		<td class="consoleList" ng-show="hideConsole">
			<text ng-show="!item.editmode">{{item.console}}</text>
			<ui-select ng-init="consoleTempObj[id].selected=item.console; consoleTab = ['rdp','vnc','telnet'] ;" ng-model="consoleTempObj[id].selected" ng-show="item.editmode">
				<ui-select-match>
					<span ng-bind="consoleTempObj[id].selected"></span>
				</ui-select-match>
				<ui-select-choices repeat="console in ( consoleTab ) ;">
					<span ng-bind="console" title="{{console}}"></span>
				</ui-select-choices>
			</ui-select>
		</td>
		<td>
			<img ng-src="/images/icons/{{item.icon}}" width="15" height="15" ng-show="!item.editmode"/> <text ng-show="!item.editmode">{{item.icon}}</text>
			<ui-select ng-init="iconTempObj[id].selected.fullname=item.icon; iconTempObj[id].selected.brname=item.icon.replace('.png','')" ng-model="iconTempObj[id].selected" ng-show="item.editmode">
				<ui-select-match>
					<img ng-src="/images/icons/{{iconTempObj[id].selected.fullname}}" width="15" height="15"/>
					<span ng-bind="iconTempObj[id].selected.brname"></span>
				</ui-select-match>
				<ui-select-choices repeat="icon in (templateList[item.template].icon.array | filter: $select.search) track by icon.brname">
					<img ng-src="/images/icons/{{icon.fullname}}" width="15" height="15"/>
					<span ng-bind="icon.brname"></span>
				</ui-select-choices>
			</ui-select>
		</td>
		<td ng-show="hideStartup">{{item.config}}</td>
		<td>
			<div>
				<button type="button" class="btn btn-xs btn-flat {{ (item.startLoading) ? 'm-progress' : ''}} min" ng-disabled="item.editmode" tooltip-placement="top" uib-tooltip="Start node" ng-click="startstopNode(id)" ng-show="item.status != 2"><i class="fa fa-play text-success" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-xs btn-flat {{ (item.startLoading) ? 'm-progress' : ''}} min" tooltip-placement="top" uib-tooltip="Stop node" ng-click="startstopNode(id)" ng-show="item.status == 2"><i class="fa fa-stop text-danger" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-xs btn-flat" tooltip-placement="top" uib-tooltip="Edit node" ng-click="beforeEdit(id, item.template)" ng-show="!item.editmode"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-xs" tooltip-placement="top" uib-tooltip="Cancel changes" ng-click="cancelChanges(id)" ng-show="item.editmode"><i class="fa fa-ban" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-xs" tooltip-placement="top" uib-tooltip="Save changes" ng-disabled="!item.editmode" ng-click="applyChanges(id)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-danger btn-xs btn-flat" tooltip-placement="top" uib-tooltip="Delete node" ng-click="deleteNode(id,item.name)"><i class="fa fa-trash" aria-hidden="true"></i></button>
			</div>
		</td>
		</tr>
	</tbody>
	</table>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong class="bg-info">Node running</strong>&nbsp;&nbsp;
			<strong class="bg-warning">Edit mode</strong>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-dander btn-flat" type="button" data-ng-click="closeModal()">Close</button>
</div>
