
<div class="modal-header" uib-modal-transclude>
	<button type="button" class="close" ng-click="closeModal()">&times;</button>
	<i class="glyphicon glyphicon-certificate pull-right action-changeopacity"></i>
	<h3 class="modal-title">STARTUP-CONFIGS</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="config-list col-md-2 col-lg-2">
			<ul class="list-group list_group">
				<li class="list_group_item " ng-repeat="item in configList">
				<a href="javascript:void(0)" >{{ item.name }}</a>
				</li>
			</ul>
		</div>
		<div id="config-data" class="col-md-10 col-lg-10">
			
		</div>
		
	</div>
</div>
<div class="modal-footer">
	
</div>
