Source: eve-ng-dynamips
Maintainer: Andrea Dainese <andrea.dainese@gmail.com>
Homepage: http://www.unetlab.com/
Section: devel
Priority: optional

Package: eve-ng-dynamips
Architecture: amd64
Section: devel
Conflicts: dynamips, unetlab-dynamips
Replaces: dynamips, unetlab-dynamips
Description: Dynamips files for Eve-NG.
