Package: eve-ng-qemu
Version: %VERSION%-%RELEASE%
Name: EVE-NG - QEMU
Architecture: amd64
Maintainer: Andrea Dainese <andrea.dainese@gmail.com>
Homepage: http://www.unetlab.com/
Installed-Size: 80420
Section: devel
Priority: optional
Depends: libaio1
Conflicts: unetlab-qemu
Replaces: unetlab-qemu
Description: QEMU files for Eve-NG.
