<div class="full-height">
	<div class="col-md-4 col-md-offset-4" id="auth-left">
		
		<div class="middle">
			<div class="row">
				<img class="response" alt="Logo EVE" src="/themes/default/images/logo-eve.png" />
			</div>
			<p>EVE-NG can be considered the next major version of Unetlab. The major advantage over GNS3, Unetlab and iou-web itself is about multi-hypervisor support within a single entity. EVE-NG allows to design labs using IOU, Dynamips and QEMU nodes without dealing with multi virtual machines: everything run in- side a EVE-NG host, and a lab is a single file including all information needed. Develop by EVE-NG Team, Unetlab Team and others, see License for details.</p>
			<!-- <div class="row"><div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"><img class="response" alt="Signup Icon" src="/themes/default/images/button-signup.png"></div></div><div class="row"><div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">to access more features</div></div> -->
			<div>
				<h2>Existing user...</h2>
			</div>
			
			<form id="form-login">
				<div class="row">
					<input name="login[username]" placeholder="USERNAME" type="text" class="form-control"/>
				</div>
				<div class="row">
					<input name="login[password]" placeholder="PASSWORD" type="password" class="form-control"/>
				</div>
				<div class="row">
					<input name="login[html5]" placeholder="HTML5" type="checkbox" value=-1 onclick="value=0-value" class="form-control"/
				</div>
				<div class="row">
				<p>Use HTML5 Only</p>
				</div>
				<div class="row">
					<input alt="Login Icon" src="/themes/default/images/button-login.png" type="image" />
				</div>
			</form>
		</div>
	</div>
	
</div>
